<div class="conteudo">
  <div class="card">
    <i class="fa-solid fa-circle-user user"></i>

    <div class="contentInput">
      <div class="p-inputgroup input">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input pInputText placeholder="Nome" [(ngModel)]="service.nome" />
      </div>

      <div class="p-inputgroup input">
        <span class="p-inputgroup-addon"><i class="fa-solid fa-unlock"></i></span>
        <input pInputText placeholder="Senha" type="password"/>
      </div>

      <div class="botao">
        <button class="classBotao" mat-raised-button color="primary" [routerLink]="['/dashboard']">Login</button>
      </div>
    </div>

  </div>

  <img class="fundo" src="./assets/img/fundo.jpg">

</div>

