mat-toolbar{
  background: linear-gradient(to right, #0E5B85, rgb(17 38 118)) rgb(255 255 255);
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icone{
  top: 11px;
  font-size: 3rem;
  position: relative;
}

.saldo{
  position: relative;
  right: 50px;
  top: 5px;
}

.valor{
  position: relative;
  top: -15px;
  font-size: 0.8rem;
}

.olho{
  position: relative;
  top: -5px;
  left: 12px;
  font-size: 0.8rem;
}

.texto{
  position: relative;
  left: 350px;
}

.boxWhite{
  background: white;
  height: 5px;
  width: 75px;
  margin: -2px 0 0 6px;
  border-radius: 14px;
}

@media (min-width: 300px) and (max-width: 911px) {
  .texto{
    left: 50px;
    font-size: 1.2rem;
  }

  .saldo{
    right: 18px;
  }
}

@media (min-width: 600px) and (max-width: 911px) {
  .texto{
    left: 50px;
  }
}

@media (min-width: 912px) and (max-width: 1024px) {
  .texto{
    left: 50px;
  }
}
