<div class="espacamento">
  <mat-card class="card">
    <div class="conteudo">
      <div class="texto">
        <p>Users</p>
      </div>

      <div class="box">20</div>
    </div>
  </mat-card>

  <mat-card class="card">
    <div class="conteudo">
      <div class="texto">
        <p>Sales</p>
      </div>

      <div class="box2">500</div>
    </div>
  </mat-card>

  <mat-card class="card">
    <div class="conteudo">
      <div class="texto">
        <p>Revenue</p>
      </div>

      <div class="box3">R$ 500,00</div>
    </div>
  </mat-card>
</div>

<div class="b-padding">
  <mat-card class="cardChart">
    <mat-card-title>Sales Charts</mat-card-title>
   <p-chart type="line" [data]="data" [options]="options"></p-chart>
  </mat-card>
</div>
