<div class="container">
  <div class="menu" [ngClass]="{'menu-hidden': isMenuHidden}">
    <omega-menu></omega-menu>
  </div>

  <div class="header" [ngClass]="{'header-hidden': isMenuHidden}">
    <button mat-raised-button class="burguer" [ngClass]="{'burguer-hidden': isMenuHidden}" (click)="evento()">
      <i class="fa-solid fa-bars"></i>
    </button>

    <header></header>
  </div>

  <div class="dashboard" [ngClass]="{'dashboard-hidden': isMenuHidden}">
    <div class="fundo"></div>
    <conteudo class="conteudo" [ngClass]="{'conteudo-with-margin': !isMenuHidden, 'conteudo-without-margin': isMenuHidden}"></conteudo>
  </div>
</div>
