.fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/fundo.jpg');
  background-size: cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.8;
}

/* Estilos para o container principal */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 100% da altura da viewport */
}

/* Estilos para o menu lateral */
.menu {
  transition: 0.3s; /* Adicione uma transição para suavizar o recuo do menu */
  z-index: 2;
}

/* Estilos para o conteúdo */
.dashboard {
  flex: 1;
  display: flex;
  overflow-y: auto;
  z-index: 0; /* Coloca o conteúdo atrás da imagem de fundo */
}

.conteudo {
  padding: 20px;
  width: 100%;
  transition: all 0.3s; /* Adicione uma transição suave para animar a mudança de estilo. Opcional, mas recomendado. */
}

.conteudo-with-margin {
  margin-left: 250px;
  width: calc(100% - 250px);
}

.conteudo-without-margin {
  margin-left: 0;
  width: 100%;
}

/* Estilos para o cabeçalho */
.header {
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
}

.burguer{
  margin: 10px;
  position: absolute;
  min-width: 20px !important;
  height: 40px;
  background-color: transparent !important;
  left: 265px;
  i {
    color: white;
  }
}

.menu-hidden {
  display: none;
}

.burguer-hidden{
  left: 0;
}

.dashboard-hidden {
  margin-left: 0;
}

.header-hidden {
  margin-left: 0;
}


@media (min-width: 300px) and (max-width: 911px) {
  .menu {
    position: absolute;
    margin-top: 55px;
  }

  .burguer{
    left: 0;
  }

  .conteudo{
    width: 100%;
    margin-left: 0;
  }

  .dashboard{
    margin-left: 0;
  }

  .header {
    margin-left: 0;
  }
}

@media (min-width: 600px) and (max-width: 911px) {
  .menu {
    position: absolute;
    margin-top: 63px;
  }

  .burguer{
    left: 0;
  }
}

@media (min-width: 912px) and (max-width: 1024px) {
  .menu {
    position: absolute;
    margin-top: 64px;
  }

  .dashboard{
    margin-left: 0;
  }

  .conteudo{
    width: 100%;
    margin-left: 0;
  }

  .header {
    margin-left: 0;
  }

  .burguer{
    left: 0;
  }
}

