@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root {
  font-size: 85%;
  --azul-primario: #0e5b85;
  --azul-secundario: #0a4565;
  --azul-action: rgba(53, 102, 166, .35);
  --branco: #fff;
  --cinza: #d0d0d0;
  --preto: #282828;
  --sucesso: #1ADB70;
  --erro: #db2a1a;
  --cuidado: #eaba00;
  --border-radius: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
  height: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
  font:  400 14px/15px 'poppins', sans-serif !important;
  color: var(--gray-800);
  display: inline;
}

h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.0rem !important;
  margin-bottom: 0!important;
}

a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #74788d;
  cursor: pointer;
}

.rowRight {
  display: flex;
  justify-content: right;
}

.m-top{
  margin-top: 1rem;
}

.m-right{
  margin-right: 1rem !important;
}

.m-left{
  margin-left: 1rem !important;
}

.m-bottom{
  margin-bottom: 1rem !important;
}

.m-pading{
  padding: 1rem !important;
}

.espacamento{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.espacamento2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.espacamento3{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
